*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
}

.volver-btn{
    background: #ff5b23;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.2s;
    margin: 10px;
}

.volver-btn:hover{
    background: #ff2323;
}

.formulario{
    background-color: #ededed;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.formulario h1{
    text-align: center;
}

.btn-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;

}

.form-container form input, textarea, select{
    padding: 7px;
    border: none;
    border-radius: 6px;
    margin: 10px 0 20px 0;
    border-left: solid 1px #a8a8a8;
    transition: border linear 0.1s;

}

.form-container form input:focus, textarea:focus, select:focus{
    outline: none;
    border-left: solid 4px #ff5b23;
}

.form-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff5b23;
    transition:  all 0.2s ease-in-out;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.form-button:hover{
    background-color: #fd4100;
    color: #fff;
}