*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemones-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pokemon {
    background-color: rgba(166, 166, 166, 0.44);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.pokemon:hover {
    box-shadow: 0 0 10px rgba(255, 196, 0, 0.44);
}

.pokemon .numero-pokemon{
    color: gray;
    font-weight: bold;
}

.pokemon .nombre-pokemon{
    font-weight: bold;
    font-size: 20px;
}

.pokemon .tipo-pokemon{
    background-color: rgba(128, 128, 128, 0.55);
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: auto;
}

.nuevo-pokemon-button{
    background-color: rgb(255, 105, 39);
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header{
    width: 100%;
    background-color: rgb(255, 105, 39);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.header ul{
    list-style: none;
}

.header ul li i{
    font-size: 44px;
    background-color: rgb(255, 105, 39);
    padding: 10px 14px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    transition: all 0.2s ease-in-out;
}

.header ul li i:hover{
    background-color: rgb(221, 67, 0);
}

