*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemones-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pokemon {
    background-color: rgba(166, 166, 166, 0.44);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.pokemon .numero-pokemon{
    color: gray;
    font-weight: bold;
}

.pokemon .nombre-pokemon{
    font-weight: bold;
    font-size: 20px;
}

.pokemon .tipo-pokemon{
    background-color: rgba(128, 128, 128, 0.55);
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: auto;
}